body,
html {
	/* margin: 0 10px; */
	height: 100%;
	width: 100%;
	background-image: url('/images/black-1072366_1920.jpg');
	background-size: auto;
}
body {
	font-family: 'Fredericka the Great', cursive;
	color: white;
	font-size: 36px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}
label {
	display: block;
}

h1 {
	font-size: 100px;
}
header {
	grid-row: 1 / span 1;
	grid-column: 1 / span 1;
	padding-left: 70px;
	/* background-color: turquoise; */
}
.word-input {
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	padding: 50px;
	/* background-color: rebeccapurple; */
}
.word-area {
	grid-row: 3 / span 1;
	grid-column: 1 / span 1;
	padding-left: 80px;
	display: grid;
	grid-template-rows: 1fr;
	user-select: none;
	/* background-color: red; */
}
.missed-guesses {
	grid-row: 4 / span 1;
	grid-column: 2 / span 1;
	padding-left: 45px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(9, 8vmin);
	/* background-color: salmon; */
}
.image-container {
	grid-row: 1 / span 3;
	grid-column: 2 / span 1;
	/* background-color: black; */
	padding-left: 40px;
}
.guess-container {
	grid-row: 4 / span 1;
	grid-column: 1 / span 1;
	padding-left: 50px;
	/* background-color: green; */
}

.letter-square {
	border-bottom: 2px solid white;
	text-align: center;
	text-transform: uppercase;
	color: transparent;
	max-height: 40px;
	max-width: 40px;
}

#missed-label {
	grid-row: 1;
	grid-column: 1 / span 9;
}

.missed-letter {
	max-height: 40px;
	max-width: 40px;
	padding-bottom: 100px;
	text-transform: uppercase;
}
