body,
html {
	/* background-image: linear-gradient(rgb(118, 118, 118), rgb(14, 14, 14)); */
	/* margin: 0 10px; */
	height: 100%;
	background-image: url(/images/black-1072366_1920.jpg);
	background-size: auto;
	font-family: 'Fredericka the Great', cursive;
	color: white;
	font-size: 40px;
}

h1 {
	font-size: 100px;
}

.letter-square {
	border-bottom: 2px solid white;
	text-align: center;
	text-transform: uppercase;
	/* margin: 20px auto; */
	color: transparent;
	width: 25px;
}

.word-area {
	display: grid;
	grid-template-rows: 1fr;
	/* grid-template-columns: repeat(7, 8vmin); */
	user-select: none;
}
